body{
  background: #A2D9CE;
text-align: center;
}
.prt{
   background: #FCF3CF;
   width:90%;
   height: 90%;
   border:2px solid black;
   border-radius: 3px;
display:flex;
flex-wrap:wrap;
text-align: center;
margin: 2%;

}
.career,.s{
  width:90%;
border: 2px solid black;
border-radius: 2px;
padding:2%;
margin: 2%;
}
.details{
  width:40%;
  border: 2px solid black;
  border-radius: 2px;
  padding:2%;
  margin: 2%;

}


input,select{
  width:50%;
  margin:2%;
}
button{
  width:10%;
  height:100%;
}
@media screen and (max-width:767px){
 .prt{
   flex-wrap: wrap;
 }
 .left{
   width:100%;
 }
  .right
 {
   width:100%;
 }
}
 @media screen and (min-width:767px and max-width:1024px){
   .prt{
     flex-wrap: wrap;
   }
   .child{
     width:48%;

 }
 .right{
   width:48%;
 }
}
@media screen and (min-width:1024px and max-width:1366){
.left{
 width:35%;
}
.right{
  width:35%;
}
}
